html.embedded-fav, body.embedded-fav {
	margin: 0;
	padding: 0;
}

annotation-viewer {

	width: 100%;
	font-family: "Helvetica Neue", "Lucida Grande", "Arial Unicode MS", Helvetica, Arial, sans-serif;
	color: #3e3e3e;
}

annotation-viewer .table-viewer {
	background-color: #ededed;
	border: 1px solid #dddddd;
	margin-top: -1px;
	font-weight: bold;
	padding-left: 5px;
	grid-template-columns: 40px 1fr 110px 110px 110px;
}

annotation-viewer .table-viewer.annotation {
	background-color: white;
	font-weight: normal;
}

annotation-viewer .table-viewer.annotation:hover {
        background-color: #ededed;
}

annotation-viewer .table-viewer.active {
	background-color: #008cba!important;
}

annotation-viewer video {
	background-color: black;
	height: 330px;
}

annotation-viewer select.tier-names {
	margin-bottom:7px;
}

app-table-viewer div div:nth-type-of(2n) div {
	background-color: #eeeeee;
}
