<div class="table-viewer annotation" [ngClass]="{'active': (eafStore.state$ | async).activeIds.indexOf(id) > -1 }">
  <ng-template [ngIf]="(eafStore.state$ | async).tier.annotations.get(id).type === 'ref' && (eafStore.state$ | async).tier.annotations.get(id).ref !== null">
    <div>{{ row }}</div>
    <div>{{ (eafStore.state$ | async).tier.annotations.get(id).value }}</div>
    <div>
      <ng-template [ngIf]="(eafStore.state$ | async).tier.annotations.get(id).custom_start">
        {{ formatDuration((eafStore.state$ | async).tier.annotations.get(id).custom_start.time) }}
      </ng-template>
    </div>
    <div>
      <ng-template [ngIf]="(eafStore.state$ | async).tier.annotations.get(id).custom_end">
        {{ formatDuration((eafStore.state$ | async).tier.annotations.get(id).custom_end.time) }}
      </ng-template>
    </div>
    <div>
        <ng-template [ngIf]="(eafStore.state$ | async).tier.annotations.get(id).custom_start && (eafStore.state$ | async).tier.annotations.get(id).custom_end">
          {{ formatDuration(getDuration((eafStore.state$ | async).tier.annotations.get(id).custom_start, (eafStore.state$ | async).tier.annotations.get(id).custom_end)) }}
        </ng-template>
    </div>
  </ng-template>
</div>
