<ng-template [ngIf]="annotation.type === 'ref' && annotation.ref !== null">
  <td>t1<span *ngIf="annotation.custom_start">{{ formatDuration(annotation.custom_start.time) }}</span></td>
  <td>t1<span *ngIf="annotation.custom_end">{{ formatDuration(annotation.custom_end.time) }}</span></td>
  <td>t1<span *ngIf="annotation.custom_start && annotation.custom_end">{{ formatDuration(eaf.getDuration(annotation.custom_start, annotation.custom_end)) }}</span></td>
</ng-template>
<ng-template [ngIf]="annotation.type === 'alignable'">
  <td>t2<span *ngIf="annotation.start">{{ formatDuration(annotation.start.time) }}</span></td>
  <td>t2<span *ngIf="annotation.end">{{ formatDuration(annotation.end.time) }}</span></td>
  <td>t2<span *ngIf="annotation.start && annotation.end">{{ formatDuration(eaf.getDuration(annotation.start, annotation.end)) }}</span></td>
</ng-template>
