<div *ngIf="(eafStore.state$ | async).tier">
    <app-video #videoPlayer url="{{ (eafStore.state$ | async).eaf.header.media[0].url }}" mimetype="{{ (eafStore.state$ | async).eaf.header.media[0].mimetype }}" (progress)="progressTracker($event)"></app-video>
    <div>
        <select class="tier-names" (change)="changeTier($event)">
            <option *ngFor="let iter of ((eafStore.state$ | async).eaf.tiers) | keyvalue: tierOrder" [value]="iter.value.value.id">{{ iter.value.value.id }}</option>
        </select>
    </div>
    <div class="table-viewer">
        <div>Nr</div>
        <div>Annotation</div>
        <div>Begin Time</div>
        <div>End Time</div>
        <div>Duration</div>
    </div>
    <div *ngFor="let iter of ((eafStore.state$ | async).tier.annotations) | keyvalue: annotationOrder; let i = index" (click)="activateAnnotation(iter.value.value.id)">
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'toplevel'">
            <app-toplevel row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-toplevel>
        </ng-template>
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'Symbolic_Subdivision'">
            <app-symbolic-subdivision row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-symbolic-subdivision>
        </ng-template>
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'Symbolic_Association'">
            <app-symbolic-association row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-symbolic-association>
        </ng-template>
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'Time_Subdivision'">
            <app-time-subdivision row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-time-subdivision>
        </ng-template>
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'Included_In'">
            <app-included-in row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-included-in>
        </ng-template>
    </div>
</div>
