div.table-viewer {

    &, table, select.tier-names {
        width: 780px;
    }

    table {

        border-spacing: 0;

        th {
            text-align: left;
        }

        tr.active {
            background-color: red;
            color: white;
        }
    }
}
